html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
}


.main {
 background-color: #f2f2f2 ;
 padding: 40px 0;
}

.main h1 {
 color: #F65A5B ;
 font-size: 64px;
 margin: 0 0 80px 0;
 padding: 20px 0;
   line-height: 60px;
   width: 50%;
}

.main h2 {
 background-color: #DDDDDD ;
 color: #999999 ;
 font-size: 20px;
 margin: 0 0 40px 0;
 padding: 20px 0;
}

/* for d3 */


.bar {
   /* display: inline-block;
    width: 20px;
    height: 75px;   /* We'll override this later 
    margin-right: 2px;
    background-color: teal; */
	cursor: pointer;
}

.bar-data-issue {
	color: #CC0000;
}

.bar-data-on-schedule {
	color: #669900;
}

.bar-idle {
	fill: ffbb33;
	/*color: #ffbb33;*/
}


 .reset {
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
   line-height: 0px;
   min-width: 60px;
   height: 60px;
   border-radius: 50%;
 margin: 0 -30px 0 40px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}


div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

/* doesn't work within an ng-view, apparently */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}
